<% provide(:title, 'All users') %>
<h1>All users</h1>

<%== render partial: 'shared/bootstrap_nav', locals: {pagy: @pagy} if @pagy.pages > 1 %>
<ul class="users">
    <%= render @users %>
</ul>
<%== render partial: 'shared/bootstrap_nav', locals: {pagy: @pagy} if @pagy.pages > 1 %>
